<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @membership.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
