<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th>Subject type</th>
      <th>Subject</th>
      <th>Hidden</th>
      <th>Resolved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="comments_interface">
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.message %></td>
        <td><%= comment.user.name %></td>
        <td><%= comment.subject_type %></td>
        <td><%= link_to comment.subject.name, comment.subject %></td>
        <td><%= check_box_tag "comment_#{comment.id}_hidden", 1, comment.hidden, :class => 'hide-comment', :'data-comment_endpoint' => comment_path(comment, :format => :js) %></td>
        <td><%= check_box_tag "comment_#{comment.id}_resolved", 1, comment.resolved, :class => 'resolve-comment', :'data-comment_endpoint' => comment_path(comment, :format => :js) %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
