<p id="notice"><%= notice %></p>

<h1>Listing Braces</h1>

<table>
  <thead>
    <tr>
      <th>Revit</th>
      <th>Done</th>
      <th>Details</th>
      <th>Section</th>
      <th>Material</th>
      <th>Angle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @braces.each do |brace| %>
      <tr>
        <td><%= brace.revit_id %></td>
        <td><%= brace.done %></td>
        <td><%= brace.details %></td>
        <td><%= brace.section %></td>
        <td><%= brace.material %></td>
        <td><%= brace.angle %></td>
        <td><%= link_to 'Show', brace %></td>
        <td><%= link_to 'Edit', edit_brace_path(brace) %></td>
        <td><%= link_to 'Destroy', brace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brace', new_brace_path %>
