<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
  <%= link_to 'Edit', edit_project_path(@project) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <%= link_to 'Comments', project_comments_path(@project) %>
</p>


<div class="project-list">
  <% if @project.rooms.present? %>
    <div id="rooms">
      <header>Rooms</header>
      <% @project.rooms.each do |room| %>
        <%= link_to room.name, room %>
        <%= completion_box room %>
        <%= link_to pluralize(room.comments.not_flagged.not_resolved.count, 'comment'), room_comments_path(room) %>
        <%= comment_box room %>
      <% end %>
    </div>
  <% end %>

  <% if @project.walls.present? %>
    <div id="walls">
      <header>Walls</header>
      <% @project.walls.each do |wall| %>
      	<%= link_to wall.name, wall %>
        <%= completion_box wall %>
        <%= link_to pluralize(wall.comments.not_flagged.not_resolved.count, 'comment'), wall_comments_path(wall) %>
        <%= comment_box wall %>
      <% end %>
    </div>
  <% end %>

  <% if @project.beams.present? %>
    <div id="beams">
      <header>Beams</header>
      <% @project.beams.each do |beam| %>
      	<%= link_to beam.name, beam %>
        <%= completion_box beam %>
        <%= link_to pluralize(beam.comments.not_flagged.not_resolved.count, 'comment'), beam_comments_path(beam) %>
        <%= comment_box beam %>
      <% end %>
    </div>
  <% end %>

  <% if @project.floors.present? %>
    <div id="floors">
      <header>Floors</header>
      <% @project.floors.each do |floor| %>
        <%= link_to floor.name, floor %>
        <%= completion_box floor %>
        <%= link_to pluralize(floor.comments.not_flagged.not_resolved.count, 'comment'), floor_comments_path(floor) %>
        <%= comment_box floor %>
      <% end %>
    </div>
  <% end %>

  <% if @project.columns.present? %>
    <div id="columns">
      <header>Columns</header>
      <% @project.columns.each do |column| %>
        <%= link_to column.name, column %>
        <%= completion_box column %>
        <%= link_to pluralize(column.comments.not_flagged.not_resolved.count, 'comment'), column_comments_path(column) %>
        <%= comment_box column %>
      <% end %>
    </div>
  <% end %>

  <% if @project.braces.present? %>
    <div id="braces">
      <header>Braces</header>
      <% @project.braces.each do |brace| %>
        <%= link_to brace.name, brace %>
        <%= completion_box brace %>
        <%= link_to pluralize(brace.comments.not_flagged.not_resolved.count, 'comment'), brace_comments_path(brace) %>
        <%= comment_box brace %>
      <% end %>
    </div>
  <% end %>

  <% if @project.foundations.present? %>
    <div id="foundations">
      <header>Foundations</header>
      <% @project.foundations.each do |foundation| %>
        <%= link_to foundation.name, foundation %>
        <%= completion_box foundation %>
        <%= link_to pluralize(foundation.comments.not_flagged.not_resolved.count, 'comment'), foundation_comments_path(foundation) %>
        <%= comment_box foundation %>
      <% end %>
    </div>
  <% end %>
</div>

<p>
  <% if @project.geometry.present? %>
    <strong>This project has a geometry file available.</strong>
    <%= link_to 'View Geometry', viewer_path(:endpoint => project_geometry_url(@project)) %>
  <% end %>
</p>

<p>
  <strong>Payload:</strong>
  <%= @project.payload %>
</p>