<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :revit_id %><br>
    <%= f.text_field :revit_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :base_finish %><br>
    <%= f.text_field :base_finish %>
  </div>
  <div class="field">
    <%= f.label :wall_finish %><br>
    <%= f.text_field :wall_finish %>
  </div>
  <div class="field">
    <%= f.label :ceiling_finish %><br>
    <%= f.text_field :ceiling_finish %>
  </div>
  <div class="field">
    <%= f.label :floor_finish %><br>
    <%= f.text_field :floor_finish %>
  </div>
  <div class="field">
    <%= f.label :occupancy %><br>
    <%= f.number_field :occupancy %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :level_name %><br>
    <%= f.text_field :level_name %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
