<!DOCTYPE html>
<html>
	<head>
	  <title>Dunit</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	  <nav>
	  	<%= link_to 'Projects', projects_path %>
	  	<% if current_user %>
	  	  <%= link_to current_user.email, 'users/edit' %>
	  	  <%= link_to 'logout', destroy_user_session_path, :method => :delete %>
	  	<% end %>
	  </nav>

		<%= yield %>

	</body>
</html>
